/* Imports*/
@font-face {
  font-family: "Trade Gothic";
  src: url("Fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"), url("Fonts/7b555e94-d57a-415e-a36e-1b0c5d3b90d2.woff2") format("woff2"), url("Fonts/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"), url("Fonts/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"), url("Fonts/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg"); }
@font-face {
  font-family: "Trade Gothic Bold";
  src: url("Fonts/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot"), url("Fonts/7bb1c0cb-e6e9-44ea-ae0c-1984ad7e3339.woff2") format("woff2"), url("Fonts/1454a71d-cdbb-429c-8092-122f4493e0c7.woff") format("woff"), url("Fonts/d5ea405c-2180-4ff0-bd51-3e19fb280be4.ttf") format("truetype"), url("Fonts/70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9.svg#70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9") format("svg"); }
@font-face {
  font-family: 'Trade Gothic BoldCn';
  src: url("Fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"), url("Fonts/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2") format("woff2"), url("Fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("Fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("Fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg"); }
@font-face {
  font-family: "Garamond";
  src: url("Fonts/b8e36b67-9a40-42c6-bd7f-f45c47df9ee7.eot?#iefix") format("eot"), url("Fonts/691cf26c-ca88-414a-82db-68d5e8cd962f.woff2") format("woff2"), url("Fonts/cd8d4dd1-f270-42c2-9007-9c5083339b5b.woff") format("woff"), url("Fonts/1db66e22-85d4-40b9-97cc-2b59da30fb97.ttf") format("truetype"), url("Fonts/ec4b5171-e7ab-47fe-a01e-4ababa856f02.svg#ec4b5171-e7ab-47fe-a01e-4ababa856f02") format("svg"); }
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 15px;
  line-height: 27px;
  padding-bottom: 15px;
  color: #4c4c4c; }

h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 68px; }

h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  color: #63605a;
  font-family: 'Trade Gothic BoldCn', sans-serif;
  letter-spacing: 0.7px; }

h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #dad9d0; }

h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 7px 0 65px 60px;
  text-transform: uppercase; }
  h4:after {
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 15px;
    content: '';
    background-color: #a9a7a3; }

h5 {
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  color: #4c4c4c; }

.bold-italic {
  font-weight: 600;
  font-style: italic; }

/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 15px;
  line-height: 27px;
  padding-bottom: 15px;
  color: #4c4c4c; }

h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 68px; }

h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  color: #63605a;
  font-family: 'Trade Gothic BoldCn', sans-serif;
  letter-spacing: 0.7px; }

h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #dad9d0; }

h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 7px 0 65px 60px;
  text-transform: uppercase; }
  h4:after {
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 15px;
    content: '';
    background-color: #a9a7a3; }

h5 {
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  color: #4c4c4c; }

.bold-italic {
  font-weight: 600;
  font-style: italic; }

/* ==========================================================================
Button styles
========================================================================== */
.btn.primary {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #a9a7a3;
  padding: 20px;
  text-decoration: none;
  line-height: 1; }
  .btn.primary:hover {
    background-color: #63605a; }

.btn.secondary {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a9a7a3;
  border: 2px solid #a9a7a3;
  padding: 15px 20px;
  text-decoration: none;
  line-height: 1; }
  .btn.secondary:hover {
    color: #ffffff;
    background-color: #63605a;
    border-color: #63605a; }
  .btn.secondary:focus {
    color: #ffffff;
    background-color: #a9a7a3;
    border-color: #a9a7a3; }

.btn.secondary-white {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  border: 2px solid #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  line-height: 1; }
  .btn.secondary-white:hover {
    color: #a9a7a3;
    background-color: #ffffff;
    border-color: #ffffff; }
  .btn.secondary-white:focus {
    color: #a9a7a3;
    background-color: #ffffff;
    border-color: #ffffff; }

.view-more {
  margin-top: 70px; }

a.text-link {
  color: #ffffff;
  margin-left: 30px;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase; }
  a.text-link:focus {
    color: #ffffff; }
  a.text-link:after {
    font-family: FontAwesome;
    content: "\f105";
    opacity: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
  a.text-link:hover {
    color: #ffffff; }
    a.text-link:hover:after {
      opacity: 1;
      margin-left: 10px; }

.has-padding {
  padding: 125px 0; }

.has-padding-tall {
  padding: 160px 0; }

.alternate-bg {
  background-color: #f6f6f6; }

.footer-bg {
  background-color: #4c4c4c; }

.is-centered {
  text-align: center; }

/* ==========================================================================
Global Styles
========================================================================== */
body {
  overflow-x: hidden;
  background-color: #ffffff; }

html,
body {
  font-family: "Trade Gothic", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.3px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #4c4c4c;
  -webkit-text-size-adjust: 100%;
  /*fix for iOS*/ }

.group:after {
  display: table;
  clear: both;
  content: ''; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  color: #4c4c4c; }

a:hover {
  text-decoration: none;
  color: #63605a; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

input,
textarea {
  outline: none; }

.wide {
  width: auto;
  max-height: 100%; }

.tall {
  max-width: 100%;
  height: auto; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.has-top-margin {
  margin-top: 50px; }

/* ==========================================================================
Main Nav
========================================================================== */
.header-nav-wrapper {
  position: fixed;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 57px;
  background-color: #ffffff;
  border-bottom: 1px solid #dadada; }
  .header-nav-wrapper .logo {
    display: inline-block;
    width: 240px;
    padding: 8px 0 0 14px; }
    .header-nav-wrapper .logo img {
      height: 38px;
      margin-top: -4px; }
  .header-nav-wrapper .primary-nav-wrapper {
    display: inline-block;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
  .header-nav-wrapper nav {
    display: inline-block;
    margin-right: 100px;
    padding: 9px 0; }
    .header-nav-wrapper nav ul {
      display: inline-block; }
    .header-nav-wrapper nav ul li {
      font-size: 12px;
      display: inline-block;
      padding: 12px 12px 0 0;
      text-transform: uppercase; }
      .header-nav-wrapper nav ul li a {
        font-weight: 500;
        letter-spacing: 1.8px;
        position: relative;
        text-decoration: none;
        color: #000000; }
        .header-nav-wrapper nav ul li a:before {
          position: absolute;
          bottom: -5px;
          left: 0;
          visibility: hidden;
          width: 100%;
          height: 1px;
          content: '';
          -webkit-transition: all 0s ease-in-out 0s;
          transition: all 0s ease-in-out 0s;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          background-color: #000000; }
        .header-nav-wrapper nav ul li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
  .header-nav-wrapper .is-visible {
    visibility: visible;
    opacity: 1; }

.secondary-nav-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 5px; }
  .secondary-nav-wrapper img {
    height: 38px;
    margin-top: -2px; }
  .secondary-nav-wrapper a {
    position: relative;
    padding-bottom: 10px;
    text-decoration: none; }
  .secondary-nav-wrapper:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    content: ' '; }

.secondary-nav-wrapper ul {
  display: inline-block; }

.secondary-nav-wrapper ul li {
  display: inline-block; }

.primary-nav-wrapper.open {
  visibility: visible;
  opacity: 1; }

.thrice-nav-wrapper {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0; }
  .thrice-nav-wrapper img {
    margin: 2px 5px 0 0;
    height: 42px; }

.nav-toggle {
  position: absolute;
  z-index: 999999;
  top: 50%;
  left: 50%;
  padding: 10px 35px 16px 0;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  position: absolute;
  display: block;
  width: 17px;
  height: 2px;
  content: '';
  cursor: pointer;
  border-radius: 1px;
  background: #000000; }

.nav-toggle span:before {
  top: -5px; }

.nav-toggle span:after {
  bottom: -5px; }

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before,
.nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 15px;
  height: 15px;
  padding: 25px 36px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: none; }

.fixed {
  position: fixed;
  z-index: 999; }

/* ==========================================================================
Scrollable Area
========================================================================== */
#scroll {
  height: 100%;
  overflow: scroll-y;
  margin-top: 57px; }

.upper-breadcrumb {
  background-color: #f6f6f6;
  display: block; }
  .upper-breadcrumb .l-breadcrumbs {
    padding: 5px 0 5px 24px;
    height: 35px; }
    .upper-breadcrumb .l-breadcrumbs .breadcrumbs-link {
      font-size: 11px;
      line-height: 26px;
      letter-spacing: 1.8px;
      font-weight: 300; }

.product-page__main-container {
  margin: 30px auto 0;
  width: 96%;
  display: block; }
  .product-page__main-container #thumb-container {
    width: calc(100% - 530px);
    display: inline-block;
    margin: 0 26px 0 0;
    min-height: 550px; }
  .product-page__main-container .main-carousel {
    display: none; }
    .product-page__main-container .main-carousel img {
      width: 100vw; }
  .product-page__main-container .product-images .product-thumbs {
    width: 68px;
    margin-right: 10px;
    float: left; }
    .product-page__main-container .product-images .product-thumbs .radio_item {
      display: none !important; }
    .product-page__main-container .product-images .product-thumbs .label_item {
      border: 2px solid transparent;
      margin-bottom: 5px;
      transition: 300ms; }
      .product-page__main-container .product-images .product-thumbs .label_item img {
        width: 60px;
        margin: 2px; }
    .product-page__main-container .product-images .product-thumbs .radio_item:checked + label {
      border-color: #000; }
    .product-page__main-container .product-images .product-thumbs label {
      cursor: pointer; }
  .product-page__main-container .product-images .product-display {
    width: calc(100% - 78px);
    display: inline-block;
    position: relative; }
    .product-page__main-container .product-images .product-display .product-large {
      width: 100%;
      overflow: hidden;
      position: relative;
      min-height: 320px; }
      .product-page__main-container .product-images .product-display .product-large .hide {
        display: none;
        transition: 300ms; }
      .product-page__main-container .product-images .product-display .product-large img {
        max-width: 620px;
        width: 100%;
        margin-bottom: 8px; }
      .product-page__main-container .product-images .product-display .product-large a {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 2px;
        color: #5E6265; }
  .product-page__main-container .product-info {
    width: 340px;
    padding-bottom: 35px;
    vertical-align: top;
    display: inline-block;
    position: relative; }
    .product-page__main-container .product-info .product-header {
      border-bottom: 1px solid #dad9d0;
      margin-bottom: 25px;
      padding-bottom: 20px; }
      .product-page__main-container .product-info .product-header img {
        width: 260px;
        margin-top: -20px; }
    .product-page__main-container .product-info .product-choices {
      border-bottom: 1px solid #dad9d0;
      margin-bottom: 30px;
      padding-bottom: 30px; }
      .product-page__main-container .product-info .product-choices a {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 2px;
        color: #5E6265; }
      .product-page__main-container .product-info .product-choices .product-swatches {
        display: inline-block;
        margin-top: 5px; }
        .product-page__main-container .product-info .product-choices .product-swatches .swatch {
          display: none !important; }
        .product-page__main-container .product-info .product-choices .product-swatches .label_swatch {
          border: 2px solid transparent;
          margin: 0 9px 12px -4px;
          transition: 100ms;
          z-index: 5; }
          .product-page__main-container .product-info .product-choices .product-swatches .label_swatch:hover, .product-page__main-container .product-info .product-choices .product-swatches .label_swatch:focus {
            border-color: #a9a7a3; }
          .product-page__main-container .product-info .product-choices .product-swatches .label_swatch img {
            width: 42px;
            height: 31px;
            overflow: hidden;
            margin: 2px; }
        .product-page__main-container .product-info .product-choices .product-swatches .swatch:checked + label {
          border-color: #000; }
        .product-page__main-container .product-info .product-choices .product-swatches label {
          cursor: pointer; }
        .product-page__main-container .product-info .product-choices .product-swatches .disabled {
          width: 52px;
          height: 47px;
          border-bottom: 2px solid #ffffff;
          -webkit-transform: translateY(-20px) translateX(5px) rotate(34deg);
          position: absolute;
          margin-top: -39px;
          margin-left: 5px; }
      .product-page__main-container .product-info .product-choices .product-size {
        display: inline-block;
        margin-top: 15px; }
        .product-page__main-container .product-info .product-choices .product-size .label_size {
          border: 1px solid #3a3a39;
          width: 42px;
          height: 31px;
          text-align: center;
          font-weight: 300;
          font-size: 11px;
          padding-top: 7px;
          transition: 100ms;
          margin: 0 10px 15px 0; }
        .product-page__main-container .product-info .product-choices .product-size .size:checked + label, .product-page__main-container .product-info .product-choices .product-size .label_size:hover {
          background: #3a3a39;
          color: #ffffff;
          transition: 100ms; }
        .product-page__main-container .product-info .product-choices .product-size label {
          cursor: pointer; }
      .product-page__main-container .product-info .product-choices img {
        width: 130px; }
    .product-page__main-container .product-info .atb {
      display: grid; }
      .product-page__main-container .product-info .atb a {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 2px;
        color: #5E6265;
        margin-bottom: 30px; }
      .product-page__main-container .product-info .atb .buttons {
        display: block; }
        .product-page__main-container .product-info .atb .buttons button {
          box-shadow: 0 2px 0 0 #00451a;
          background-color: #00782e;
          height: 48px;
          margin-bottom: 2px;
          text-transform: capitalize;
          transition: color .5s,background-color .5s;
          border: none;
          cursor: pointer;
          outline: 0;
          text-decoration: none;
          width: calc(100% - 60px);
          position: relative;
          float: left; }
          .product-page__main-container .product-info .atb .buttons button a {
            color: #fffef7;
            font-size: 15px;
            font-weight: 400; }
        .product-page__main-container .product-info .atb .buttons .heart {
          border: 1px solid #63605a;
          margin-left: 10px;
          height: 48px;
          width: 48px;
          float: right;
          text-align: center; }

/* ==========================================================================
Responsive Media Queries
========================================================================== */
@media screen and (min-width: 1336px) {
  .product-page__main-container {
    width: 88%; } }
@media screen and (max-width: 1024px) {
  .primary-nav-wrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0; }

  .navicon {
    visibility: visible; }

  .header-nav-wrapper {
    height: 46px; }

  .header-nav-wrapper .logo {
    width: 100%;
    text-align: center;
    padding-left: 0; }
    .header-nav-wrapper .logo img {
      margin-top: -2px;
      height: 33px; }

  .thrice-nav-wrapper {
    visibility: visible;
    opacity: 1; }

  #scroll {
    margin-top: 46px; } }
@media screen and (max-width: 540px) {
  .product-page__main-container {
    width: 100%;
    margin: 0; }

  .main-carousel {
    display: block !important; } }

/*# sourceMappingURL=styles.css.map */
