// Colours partial

// Text colours

$white: #ffffff; //white
$black: #000000; //black
$slate: #4c4c4c; //body font
$light-slate: #5E6265;
$light-grey: #f6f6f6; //light section
$dark-grey: #8A9097;
$teal: rgb(169,167,163); //cta
$dark-teal: #63605a; //cta-hover
$porcelain: #3a3a39; //keylines
